@use '../../../untils.scss' as *;
.struggle-container {
    text-align: center;
    padding: 16px;

    .title {
        margin-bottom: 24px;
    }

    .struggle-card {
        border: 2px solid transparent;
        border-radius: 10px;
        transition: 0.3s;

        &.selected {
            border-color: #4caf50;
        }
    }

    .card-content {
        position: relative;
        text-align: center;
        padding: 16px;

        .card-image {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }

        .checkbox {
            position: absolute;
            top: 10px;
            right: 10px;
            background: white;
            border-radius: 50%;
        }
    }

    .card-label {
        margin-top: 8px;
    }

    .selected-options {
        margin-top: 24px;

        h6 {
            margin-bottom: 8px;
        }
    }

    // Điều chỉnh cho màn hình di động
    @media (max-width: 768px) {
        height: 70vh;
        width: 90%;
        margin: 0 auto;
        overflow-y: auto;

        .continue-button {
            position: sticky;
            bottom: 16px;
            margin-top: 16px;
            z-index: 10;
            background-color: #4caf50;
            color: white;
            border: none;
            padding: 12px 24px;
            border-radius: 24px;
            cursor: pointer;

            &:hover {
                background-color: #45a049;
            }
        }
    }
}
