@use '../../untils.scss' as *;

@keyframes scale-up {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.block-form-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    min-height: calc(100vh - 130px);
    margin: 0 80px;
    padding-top: 40px !important;
}
.step-content {
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(0);
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

.step-content.fade-out {
    opacity: 0;
    transform: translateY(-50px); /* Optional: Move the content up a bit */
}

.step-content.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.step.exiting {
    opacity: 0;
    transform: translateX(-100%);
}

.form-step-20 {
    .form-step-20__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        max-width: 500px;
        margin: auto;
        text-align: center;

        .form-step-20__box-h4 {
            font-weight: bold;
            margin-bottom: 8px;
        }
        .form-step-20__box-color {
            margin-bottom: 24px;
            color: $primary-color;
        }
    }
}

.custom-block-step {
    height: 70vh;
    // display: flex;
    // margin: 24px 0 !important;
    // flex-direction: column;
    // justify-content: center;
    // border-bottom: 1px solid lightgray;
}

.back-btn-container {
    position: fixed;
    top: 20px;
    left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    background-color: $backgroud-light;
    border: 1px solid $text-dark;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    transition: transform 0.3s ease, background-color 0.3s ease;

    &:hover {
        background-color: $disabled-color;
        border: none;
    }

    &:active {
        &:active {
            animation: scale-up 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
    }
}

.custom-btn-continue {
    min-width: 10vw !important;
    height: 5vh;
    background-color: $primary-color !important;
    color: $text-light;
    border: none;
    border-radius: 30px !important;

    &:hover {
        background-color: $primary-color !important;
    }

    &:disabled {
        background-color: $disabled-color !important;
        color: $text-light;
    }
}

@media (max-width: 1024px) {
    .block-form-question {
        margin: 0 200px;
    }
}

@media (max-width: 768px) {
    .block-form-question {
        min-height: calc(100vh - 98px);
    }

    .block-form-question {
        margin: 0 32px;
        // padding-top: 80px;
    }

    // .step-content {
    //     height: calc(100vh - 80px);
    // }
}

@media (max-width: 425px) {
    .block-form-question {
        margin: 0 8px;
    }

    // .back-btn-container {
    //     top: 10px;
    //     left: 20px;
    //     background-color: $backgroud-light;
    //     border-radius: 12px;
    //     font-size: 25px;
    //     border: none;
    //     padding: 8px;
    // }
}
