@use '../../../untils.scss' as *;

.form-step-11-1 {
    padding: 0 15rem;

    &-content {
        display: flex;
        align-items: center;
        gap: 5%;

        &__title {
            display: flex;
            flex-direction: column;
            row-gap: 8px;

            h1 {
                font-size: $font-size-title-medium-pc;
                color: $text-dark;
                font-weight: bold;
            }
            p {
                font-size: $font-size-text-pc;
                line-height: 1.2;

                span {
                    font-weight: bold;
                }
            }
        }
        &__img {
            height: 70vh;
            width: 40%;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 1200px) {
    .form-step-11-1 {
        padding: 0 10rem;
        &-content {
            flex-direction: column;
            &__img {
                height: 52vh;
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }
}



@media (max-width: 768px) {
    .form-step-11-1 {
        padding: 0 2rem;
        &-content {
            &__title {
                h1 {
                    font-size: $font-size-title-medium-sp;
                }
                p {
                    font-size: $font-size-text-sp;
                }
            }
            &__img {
                height: 40vh;
            }
        }
    }
}

@media (max-width: 425px) {
    .form-step-11-1 {
        padding: 0 0;
    }
}
