@use '../../../untils.scss' as *;

.form-step-21 {
    text-align: center;

    h1 {
        font-size: 40px;
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
        margin-bottom: 50px;
    }

    &__container {
        max-width: 30vw;
        margin: auto;
        padding: 20px;
        border-radius: 15px;
    }

    &__input {
        margin-bottom: 20px;

        h3 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .input-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid $text-dark;
            padding: 10px 0;
            column-gap: 10px;

            input {
                font-size: 40px;
                text-align: center;
                border: none;
                outline: none;
                width: 80%;
            }

            .input-unit {
                font-size: 40px;
                font-weight: bold;
                margin-left: -10px;
            }
        }

        p {
            font-size: 14px;
            color: $sub-color;
        }

        strong {
            font-weight: bold;
            color: $text-dark;
        }
    }
}

@media (max-width: 1024px) {
    .form-step-21__container {
        max-width: 60vw;
    }
}

@media (max-width: 600px) {
    .form-step-21 {
        h1 {
            font-size: 32px;
            margin-bottom: 20px;
        }
    }

    .form-step-21__input {
        .input-wrapper {
            input {
                font-size: 24px;
                text-align: center;
            }

            .input-unit {
                font-size: 24px;
            }
        }
    }
}
