@use '../../../untils.scss' as *;

.chair-yoga-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16px;

    .block-Circular {
        width: 120px !important;
        height: 120px !important;
        color: $primary-color;
    }

    .text-percent {
        font-size: 24px;
        font-weight: bold;
        color: $text-dark;
    }
}

.progress-section {
    width: 100%;
    max-width: 400px;
    margin-bottom: 16px;
}

.progress-bar {
    height: 10px;
    border-radius: 5px;
}

.progress-text {
    margin-top: 8px;
}

.testimonial-card {
    max-width: 400px;
    margin-top: 16px;
}

.testimonial-rating {
    margin-bottom: 8px;
}

.testimonial-author {
    margin-top: 16px;
    font-style: italic;
}

/* Container slider */
.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 1120px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.slider-content {
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: 1;
    transform: translateX(0); /* Slide tại vị trí ban đầu */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Hiệu ứng */
}

.slider-content.sliding {
    opacity: 0; /* Ẩn đi trong khi trượt */
    transform: translateX(-20px); /* Trượt nhẹ sang trái */
}

.card {
    background: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 300px;
}

.card-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}

.description {
    font-size: 14px;
    color: #707070;
    padding: 0 20px;
}
