@use '../../../untils.scss' as *;

.form-step-1_1 {
    &-content {
        display: flex;
        align-items: center;
        &__title {
            display: flex;
            flex-direction: column;
            row-gap: 8px;

            h1 {
                font-size: $font-size-title-medium-pc;
                color: $primary-color;
            }
            p {
                font-size: $font-size-text-pc;

                span {
                    font-weight: bold;
                }
            }
        }
        &__img {
            height: 70vh;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
