@use '../../../untils.scss' as *;

.form-step-1_1 {
    padding: 0 15rem;
    margin: 0 auto;

    &-content {
        display: flex;
        align-items: center;

        &__title {
            display: flex;
            flex-direction: column;
            row-gap: 8px;

            h1 {
                font-size: $font-size-title-small-pc;
                color: $primary-color;
                font-weight: bold;
            }
            p {
                font-size: $font-size-text-pc;
                line-height: 1.2;
                color: $sub-color;

                span {
                    color: $text-dark;
                    font-weight: bold;
                }
            }
        }

        &__img {
            height: 70vh;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 1200px) {
    .form-step-1_1 {
        &-content {
            flex-direction: column;
            &__img {
                height: 52vh;
            }
        }
    }
}

@media (max-width: 768px) {
    .form-step-1_1 {
        &-content {
            &__title {
                h1 {
                    font-size: $font-size-title-medium-sp;
                }
                p {
                    font-size: $font-size-text-sp;
                }
            }
            &__img {
                height: 40vh;
            }
        }
    }
}

@media (max-width: 600px) {
    .form-step-1_1 {
        padding: 0;
        margin: 0;
    }
}
