$primary-color: #55ac60;

$sub-color: #488083;

$text-light: #ffffff;

$text-dark: #171717;

$backgroud-secondary: #f6f7f9;

$backgroud-light: #ffffff;

$border-color: #eff1f4;

$border-color-light: #17171775;

$error-color: #ee505a;

$disabled-color: #e0e0e0;
