$primary-color: #55ac60;

$sub-color: #488083;

$text-light: #ffffff;

$text-dark: #171717;

$backgroud-secondary: #f6f7f9;

$backgroud-light: #ffffff;

$border-color: #eff1f4;

$border-color-light: #17171775;

$error-color: #ee505a;

$disabled-color: #e0e0e0;

//Font Size
$font-size-title-medium-pc: 48px;
$font-size-title-medium-sp: 32px;

$font-size-title-small-pc: 40px;
$font-size-title-small-sp: 28px;

$font-size-text-pc: 26px;
$font-size-text-sp: 17px;

$font-size-input-pc: 20px;
$font-size-input-sp: 16px;

// Font Family
$secondary-font: 'Inter', serif;
