@use '../../../untils.scss' as *;

.like-icon {
    background: $border-color;
    color: $border-color;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 8px;
}

.form-step-2_1 {
    padding: 40px 40rem;

    &-content {
        display: flex;
        align-items: center;
        &__title {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            h1 {
                font-size: $font-size-title-small-pc;

                span {
                    color: $primary-color;
                    font-weight: bold;
                }
            }
            p {
                font-size: $font-size-input-pc;
                color: $sub-color;
                line-height: 1.1;

                span {
                    font-weight: bold;
                }
            }
        }
        &__img {
            height: 70vh;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 1200px) {
    .form-step-2_1 {
        padding: 0;
        &-content {
            flex-direction: column;
            &__img {
                height: 52vh;
            }
        }
    }
}

@media (max-width: 768px) {
    .form-step-2_1 {
        padding: 0;
        &-content {
            &__title {
                h1 {
                    font-size: $font-size-title-medium-sp;
                }
                p {
                    font-size: $font-size-text-sp;
                }
            }
            &__img {
                height: 40vh;
            }
        }
    }
}
